	<ion-view view-title="&lt;img src=&quot;data/images/logo(1).png&quot; class=&quot;page-logo&quot; /&gt; ⠀⠀" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class=" page-about_us">
		<div class="padding scroll">

    <div align="center" class="padding about-us-box">
      <img height="200px" align="center" src="data/images/background/logo(2).png" />
        <h2>Amayya Tower</h2>
        <div>
            Amayya Tower CRM Solutions
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about-us-box">
     
     <!-- <a class="item item-icon-left" ng-click="openURL('https://id-id.facebook.com/GSJATesalonikaBatam/')" >
        <i class="positive icon ion-social-facebook"></i>
        Like GSJA Tesalonika on Facebook
      </a> -->
            
       <a class="item item-icon-left" ng-click="openURL('mailto:abbasiagian@gmail.com?Subject=Saya%20ingin%20bertanya%20tentang%20aplikasi%20Ammaya')" >
        <i class="icon ion-android-mail royal"></i>
        <b>Powered By CreativeCode.Design</b><br/>
         <i>Click here for any inquiries</i>
        <p>
            Email: abbasiagian@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
