	<ion-view view-title="&lt;img src=&quot;data/images/logo(1).png&quot; class=&quot;page-logo&quot; /&gt; ⠀⠀" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-menu_1" class="page-menu_1">
		<div class="padding">
  <div >
    <center><h3><img height="200px" src="data/images/background/logo(2).png" /></h3></center>
	Amayya Tower is a standalone building with six levels. The entrance to the library is on the second floor, accessible from a plaza at the southwest corner of Speedway and 21st Streets.
  </div>
  <div ><br/>
    <center><h3>Strategic Place</h3></center>
	Decoration is inspired by the history of the ancient Ambato. It is totally private. Board games, playgrounds and courts. The host speaks English and he could help you. The space
    <br/>
  </div>
  <br/>
  <br/>
    <div >

Amaya Towers consists of two 25-level residential buildings resting on a common 5-level parking and retail podium in one of the most exclusive spots of Shams Abu Dhabi. Situated on the tip of the island, the buildings stand adjacent to the island canal and overlook the waters of the Arabian sea as well as the Saadiyat Island shoreline, with its future Louvre Museum, Guggenheim Museum and Performing Arts Center.
  </div>
   <div >
     <br/>
     <br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
